.main-table{
    border:2px solid black;
    width:100%;
    height: 100%;
}

.nested-table1 ,.nested-table2, .nested-table3, .nested-table4{
    border:2px solid black;

}
tr,th,td{

    border:2px solid black;

}

.last{
    text-align: center;
    background-color: black;
    color:white;
}