
/* Your CSS Code here. */

.main-table{
	border:1px solid black;
	padding:0;
	margin:0;
	gap:0;
}
.nested-table1,.nested-table2,.nested-table3,.nested-table4{
	border:1px solid black;
}
.nested-table1,.nested-table2{
	width:300px;
	height:300px
}

.nested-table3,.nested-table4{
	width:300px;
	height:150px;
}